# Q1 Pre Lecture

In [45]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()
print(df)

     row_n        id      name  gender    species birthday personality  \
0        2   admiral   Admiral    male       bird     1-27      cranky
1        3   agent-s   Agent S  female   squirrel      7-2       peppy
2        4     agnes     Agnes  female        pig     4-21        uchi
3        6        al        Al    male    gorilla    10-18        lazy
4        7   alfonso   Alfonso    male  alligator      6-9        lazy
..     ...       ...       ...     ...        ...      ...         ...
386    475    winnie    Winnie  female      horse     1-31       peppy
387    477  wolfgang  Wolfgang    male       wolf    11-25      cranky
388    480      yuka      Yuka  female      koala     7-20      snooty
389    481      zell      Zell    male       deer      6-7        smug
390    483    zucker    Zucker    male    octopus      3-8        lazy

                song    phrase            full_id  \
0         Steep Hill   aye aye   villager-admiral
1            DJ K.K.  sidekick   villager-agent-s
2         K.K. House   snuffle     villager-agnes
3         Steep Hill   Ayyeeee        villager-al
4        Forest Life  it'sa me   villager-alfonso
..               ...       ...                ...
386         My Place    hay-OK    villager-winnie
387        K.K. Song   snarrrl  villager-wolfgang
388     Soulful K.K.   tsk tsk      villager-yuka
389         K.K. D&B     pronk      villager-zell
390  Spring Blossoms     bloop    villager-zucker

                                                   url
0    https://villagerdb.com/images/villagers/thumb/...
1    https://villagerdb.com/images/villagers/thumb/...
2    https://villagerdb.com/images/villagers/thumb/...
3    https://villagerdb.com/images/villagers/thumb/...
4    https://villagerdb.com/images/villagers/thumb/...
..                                                 ...
386  https://villagerdb.com/images/villagers/thumb/...
387  https://villagerdb.com/images/villagers/thumb/...
388  https://villagerdb.com/images/villagers/thumb/...
389  https://villagerdb.com/images/villagers/thumb/...
390  https://villagerdb.com/images/villagers/thumb/...

[391 rows x 11 columns]

# Q2 Pre Lecture

In [7]:
df.shape

(391, 11)

Q2: Observations are the actual data (can be numeric or non numeric) collected that correspond to a given variable. In this case, the rows represent the specific names, species, and other information of each of the villagers. Variables are the features/attributes of an observation, and many observations can correspond to a given variable. In this case, some examples of variables are name, species, gender, personality, and birthday.

# Q3 Pre Lecture

In [11]:
#numeric column summaries
df.describe()

#categorical column summaries
df.describe(include='object') 

#frequency counts of specific columns
df['species'].value_counts() 

#overall summary
df.info()

#missing values
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_n        391 non-null    int64
 1   id           390 non-null    object
 2   name         391 non-null    object
 3   gender       391 non-null    object
 4   species      391 non-null    object
 5   birthday     391 non-null    object
 6   personality  391 non-null    object
 7   song         380 non-null    object
 8   phrase       391 non-null    object
 9   full_id      391 non-null    object
 10  url          391 non-null    object
dtypes: int64(1), object(10)
memory usage: 33.7+ KB

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

# Q4 Pre Lecture

In [39]:
#download titanic data to answer this question
import pandas as pd
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
data = pd.read_csv(url)

print(data.shape)
data.describe()

(891, 15)

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Q4: a.) The number of columns displayed is different, because shape shows the number of total (rows, columns). On the other hand, describe() only displays only numeric values, since include = 'all' was not specified. 

b.) The count values are different when describe() is called, as it only accounts for non missing values. shape does not account for when there are missing/non missing values.

# Q5

Q6: An attribute such as shape is a characteristic stored within an object that can be accessed. A method is a function that can perform an action on the object that it was called upon, using the data stored within the object.

Link to ChatGPT conversation so far: https://chatgpt.com/share/bda23886-7cf0-43a9-9af1-6f4bd98c788b

# Q6

Q6: Count is the number of total non-missing observations within each column. The mean is the average value of each variable (column). Std is the average distance from the mean of each variable. 25% is the first quartile (Q1) of the data, or the point at which 25% of the data falls when it is arranged in ascending order. 50% is the median, where 50% of the data falls. Lastly, 75% is Q3, or where 75% of the data falls. Min and max are the smallest and largest values observed for each variable.

# Q7

Q7.1: You can use df.dropna() over del df['col'] if you want to retain all columns, but just want to look at non-missing rows.

Q7.2: You can use del df['col'] over df.dropna() if you want to delete just one specific column, and not just missing data over different columns.

Q7.3: By using del df['col'] before df.dropna(), you can make df.dropna() more efficient by removing a column with a significant amount of missing data. Or, if you have a column that is no longer relevant to your analysis, you can delte the column entirely before removing missing data.

Q7.4: (below)

In [14]:
#before data
print(data)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

In [16]:
data.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
who              0
adult_male       0
embark_town      2
alone            0
dtype: int64

In [23]:
#after - used del first because columns have a mix of missing/present data
data.dropna()

     survived     fare embarked  class    who deck  embark_town alive  alone
1           1  71.2833        C  First  woman    C    Cherbourg   yes  False
3           1  53.1000        S  First  woman    C  Southampton   yes  False
6           0  51.8625        S  First    man    E  Southampton    no   True
10          1  16.7000        S  Third  child    G  Southampton   yes  False
11          1  26.5500        S  First  woman    C  Southampton   yes   True
..        ...      ...      ...    ...    ...  ...          ...   ...    ...
871         1  52.5542        S  First  woman    D  Southampton   yes  False
872         0   5.0000        S  First    man    B  Southampton    no   True
879         1  83.1583        C  First  woman    C    Cherbourg   yes  False
887         1  30.0000        S  First  woman    B  Southampton   yes   True
889         1  30.0000        C  First    man    C    Cherbourg   yes   True

[201 rows x 9 columns]

ChatGPT conversation so far: https://chatgpt.com/share/97a0cf40-77e0-4432-8f68-b81150094c1e

# Q8

In [33]:
data.groupby("sex")["pclass"].describe()
#grouped by passengers sex and provide statistical summary of their class
#groupby('col') takes the rows from col and takes their corresponding information from ['col2']. .describe() outputs the statistical summary of ['col2'] corresponding to 'col1'

        count      mean      std  min  25%  50%  75%  max
sex
female  314.0  2.159236  0.85729  1.0  1.0  2.0  3.0  3.0
male    577.0  2.389948  0.81358  1.0  2.0  3.0  3.0  3.0

Q8.1: data.groupby("sex")["pclass"].describe() groups the data firstly by the column "sex," and makes each row of this column its separate group. Then, from each row selected in "sex," it selects a row from the column ['pclass']. Finally, .describe() then outputs the statistics for "pclass" within each "sex."

Q8.2: data.describe() displays the count of all non-NaN values in each numeric column, whereas data.groupby('col1')['col2'] displays the count of all non-NaN values in col2 that have been grouped by col1. The count value in the second case will differ by which columns were chosen/how it was grouped. Overall, data.describe() provides an overview of the entire dataset, while data.groupby('col1')['col2'] provides an overview of only a subset of the dataset.

In [28]:
#Question 8A error: 
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
Cell In[1], line 2
      1 url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
----> 2 df = pd.read_csv(url)
      3 df.isna().sum()
      4 print(df)

NameError: name 'pd' is not defined

Q8.3A: In this case, it was much easier to consult ChatGPT over Google, as it provided a short and simple explanation on what mistake I made, and why such an error exists in the first place. It also showed me visually what my code should look like. When I went to Google, there was a lot of unnecessary information I had to look through to find my answer which took much longer.

In [30]:
#Question 8B error (misspelling titanic):
TTPError                                 Traceback (most recent call last)
Cell In[29], line 4
      2 import pandas as pd
      3 url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanics.csv'
----> 4 data = pd.read_csv(url)
      6 print(data.shape)
      7 data.describe()

...

HTTPError: HTTP Error 404: Not Found

SyntaxError: invalid syntax (3174069921.py, line 2)

In [36]:
#Question 8B error (deleting .com):

URLError: <urlopen error [Errno -2] Name or service not known>

In [40]:
#Question 8B error (deleting https):
[Errno 2] No such file or directory: 'raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3591999802.py, line 2)

Q8.3B: I found that Google and ChatGPT were equally useful in the first two errors, as the only information they provided was that there was possibly a typo in the url. On the other hand, the last error was better fixed by ChatGPT as it specifically found that the issue was the missing "https," and provided example code to show the correct form of it.

In [42]:
#Question 8C error 
Data.groupby("sex")["pclass"].describe()

NameError: name 'Data' is not defined

Q8.3C: In this case, it was easier to work with ChatGPT as this error is specific to the way I mistyped the name. ChatGPT was able to give me a clear and concise explanation to as to what possibly went wrong and ways in which I could troubleshoot my code.

In [44]:
#Question 8D error
Cell In[43], line 3
    df = pd.read_csv(url
                    ^
SyntaxError: '(' was never closed

SyntaxError: invalid syntax (511349667.py, line 2)

Q8.3D: Again, I found ChatGPT to be very useful. Although it gave me a lenghthy answer, the first sentences already addressed my problem and allowed for me to fix my code.

In [47]:
#Question 8E error: 
data.groupby("sex")["pclass"].describle()

AttributeError: 'SeriesGroupBy' object has no attribute 'describle'

Q8.3E: Again, ChatGPT was very efficient with addressing the error, as it already addressed the main problem in the first sentence.

In [50]:
#Question 8F error: 
data.groupby("Sex")["age"].describe()

KeyError: 'Sex'

In [51]:
#Question 8F error: 
data.groupby("sex")["Age"].describe()

KeyError: 'Column not found: Age'

Q8.3F: For both errors, I found ChatGPT easier as it addressed the possible mistake I made in the first couple of sentences, and even provided me with actual code examples of how to troubleshoot.

In [53]:
#Question 8G error 1
data.groupby(sex)["age"].describe()

NameError: name 'sex' is not defined

In [54]:
#Question 8G error 2
data.groupby("sex")[age].describe()

NameError: name 'age' is not defined

Q8.3G: I found ChatGPT to be more useful in this case as well, because when I looked up the error on Google, it was a lot of people asking for an explanation on their specific code, and it was hard to extrapolate an answer for my specific situation. On the other hand, ChatGPT gave a concise answer that actually addressed the problem in my code.

Link to ChatGPT conversation for all of Question 8: https://chatgpt.com/share/dbe04f91-a675-447b-b3b7-c47fed37da7d

Q9: Mostly